
* {
    margin: 0;
    padding: 0;
}


body {
    height: 100%;
    font-family: 'Jost', sans-serif;
    background-image: url('assets/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:8%;
    
}


header {
    position: fixed;
    top:5%;
    left: 9%;
    width: 100%;
    padding: 0.3em; 
    
}

#logo {
    max-width: 11em;
}

#welcom-text{
    font-size: 73px;
    font-weight: 400;
    line-height: 0.80;
    margin-bottom: 37px;
}


#title-instruction{
    color:#C2128D;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0;
}


#welcome-container p {
    margin-top: 0;
    font-size: 20px;
    color: #DADBE1;
}


ul {
    padding-left:1em;
    margin-top: 1.5em;
    color: #DADBE1;
    font-size: 20px;
}

#welcome-container {
    display: flex;
    flex-direction: column;
}


#startBtn {
    height: 3.2em;
    width: 11em;
    background-color: #00FFFF;
    font-weight:700;
    font-size: 20px;
    position: relative;
    left: -10%; 
    box-shadow:  0 0 20px 3px rgba(0, 255, 255, 0.8); 
    transition: box-shadow 0.3s ease; 
    border: none;
    cursor: pointer;
}


#startBtn:hover {
    box-shadow: 0 0 20px 4px rgba(0, 255, 255, 1); 
}


#agree-checkbox-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: #DADBE1; 
    margin-top: 2em;
}

#agree-checkbox label {
    display: flex;
    align-items: center; 
    color: #DADBE1; 
}


#agree-checkbox label p {
    margin-left: 10px;
    font-size: 19px;
}


#agreeCheckbox {
    appearance: none;
    background-color: transparent;
    border: 2px solid #DADBE1; 
    width: 15px; 
    height: 15px; 
    outline: none; 
    cursor: pointer;
}

#agreeCheckbox:checked {
    background-color: blue;
}
